@tailwind base;

/* --------SCROLLBAR CSS-------- */
:root {
	--primary: #01b3a7;
	--light: #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 3px;
}

*::-webkit-scrollbar-track {
	background: var(--light);
	border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

.container {
	@apply max-w-[80rem] mx-auto p-[1.5rem];
}

/* ------- SLIDER BUTTON ------- */
.tns-nav {
	@apply absolute z-[99] right-0 top-[50%];
}

.tns-nav button {
	@apply flex bg-gray-400 w-[.7rem] h-[.7rem] m-[.5rem] hover:bg-light focus:bg-primary;
}

.tns-nav .tns-nav-active {
	@apply bg-primary;
}

@media (min-width: 1080px) {
	.tns-nav {
		@apply right-[15rem];
	}

	.tns-nav button {
		@apply w-[.8rem] h-[.8rem] m-[.5rem];
	}
}

/* REPEATABLE PATTERNS  */

@layer utilities {
	.btn {
		@apply inline-block py-[1rem] px-[2rem];
	}

	.btn.transGreen {
		@apply border-solid border-[2px] border-primary;
	}

	.btn.transGreen:hover {
		@apply bg-mint border-mint text-light;
	}

	.btn.transWhite {
		@apply text-light border-solid border-[2px] border-light;
	}

	.btn.transWhite:hover {
		@apply bg-mint border-mint;
	}

	.btn.Green {
		@apply bg-primary text-light transition-[.5s] ease-in border-transparent border-[2px] border-solid;
	}

	.btn.Green:hover {
		@apply bg-transparent text-dark border-solid border-[2px] border-dark transition-[.5s] ease-in;
	}
	.btn.GreenBlack {
		@apply bg-primary text-light transition-[.5s] ease-in;
	}

	.btn.GreenBlack:hover {
		@apply bg-dark transition-[.5s] ease-in;
	}
	.btn.GreenWhite {
		@apply bg-primary text-light transition-[.5s] ease-in border-transparent border-[2px] border-solid;
	}

	.btn.GreenWhite:hover {
		@apply bg-transparent text-light border-solid border-[2px] border-light transition-[.5s] ease-in;
	}

	.btn.trans {
		@apply bg-light text-dark transition-[.5s] ease-in border-dark border-[2px] border-solid;
	}

	.btn.trans:hover {
		@apply bg-primary text-dark border-solid border-[2px] border-primary transition-[.5s] ease-in;
	}
}

@layer components {
	/* ------------------- HEADER ------------------- */

	.header {
		@apply relative;
	}

	.desktop-view {
		@apply hidden;
	}

	/*  MOBILE VIEW - NAVIGATION */
	.mobile-view {
		@apply flex justify-between p-[1.5rem] bg-light shadow-md;
	}

	.mobile-left {
		@apply flex gap-[2rem];
	}

	/* MOBILE CONTACT */
	.mobile-contact {
		@apply flex flex-col gap-[1rem] items-center absolute bg-grey right-0 top-[-100rem] z-[3];
	}

	.mobile-contact.open {
		@apply top-[4.2rem] p-[1rem] w-[15rem];
	}

	.mobile-contact-text {
		@apply flex flex-col gap-[.6rem];
	}

	.mobile-contact-text p {
		@apply text-dark flex flex-row gap-[1rem];
	}

	.mobile-contact-text p i {
		@apply text-primary text-[1.2rem];
	}

	/* NAVIGATION BAR */
	.mobile-nav {
		@apply absolute bg-light h-screen left-[-100rem] top-[4.1rem]  transition-[.8s] ease-in delay-[.2s] overflow-y-auto z-[3];
	}
	.mobile-nav.open {
		@apply left-0 transition-all delay-[.3s];
	}

	/* MOBILE-NAV-SOCIALS */
	.mobile-nav-socials {
		@apply border-solid border-b border-gray-200;
	}

	.mobile-nav-socials ul {
		@apply flex justify-center items-center gap-[1rem] pt-[1.5rem] pb-[2rem];
	}

	.mobile-nav-socials ul li a {
		@apply text-[1.1rem] hover:text-primary transition ease-in-out duration-[.5s];
	}

	/* DROPDOWN MENU */
	.mobile-nav-drop {
		@apply bg-light w-[16rem] px-[.1rem];
	}

	.drop-item h4 {
		@apply flex justify-between items-center text-gray-500 text-[1rem] py-[1rem] cursor-pointer px-[1rem] hover:bg-primary hover:text-light;
	}

	.drop-item:first-child h4 {
		@apply bg-primary text-light;
	}

	.drop-item h4 i {
		@apply text-[.8rem];
	}

	.drop-item h4 i.open {
		@apply rotate-[180deg] transition ease-in-out duration-[.5s];
	}

	.drpDown {
		@apply max-h-0 overflow-hidden transition ease-in-out duration-[.5s];
	}

	.drpDown.open {
		@apply max-h-[80rem] transition ease-in-out duration-[.5s];
	}

	.drop-content {
		@apply max-h-0 overflow-hidden transition ease-in-out duration-[.5s] overflow-y-scroll;
	}

	.drop-content .content-1 ul li {
		@apply hover:text-light;
	}

	.drop-content.open {
		@apply max-h-[50rem] transition ease-in-out duration-[.5s];
	}

	.drop-item ul li {
		@apply py-[1rem] px-[2rem] cursor-pointer text-gray-500 hover:bg-primary hover:text-light;
	}

	.drop-item ul li a {
		@apply text-[.9rem];
	}

	.content-1 h3 {
		@apply text-mint mx-[1.2rem] py-[.5rem] text-[1.3rem] border-solid border-b border-gray-300;
	}

	/* TOGGLE MENU */
	.toggle__menu {
		@apply cursor-pointer;
	}

	.toggle__menu span {
		@apply w-[1.5rem] h-[.2rem] bg-dark block transition ease-in-out duration-[.5s];
	}

	.toggle__menu span:nth-child(2) {
		@apply my-[.3rem];
	}

	.toggle__menu.open span:first-child {
		@apply translate-x-[0] translate-y-[13px] rotate-[230deg] transition ease-in-out duration-[.5s] w-[.8rem];
	}

	.toggle__menu.open span:nth-child(2) {
		@apply transition ease-in-out duration-[.5s];
	}
	.toggle__menu.open span:last-child {
		@apply translate-x-0 translate-y-[-14px] rotate-[-230deg] transition ease-in-out duration-[.5s] w-[.8rem];
	}

	/* CIRCLE TOGGLE MENU */

	.circle-toggle__menu {
		@apply h-[1rem] cursor-pointer;
	}

	.circle-toggle__menu span {
		@apply w-[.4rem] h-[.4rem] bg-dark block transition ease-in-out duration-[.5s] rounded-full;
	}

	.circle-toggle__menu span:nth-child(2) {
		@apply my-[.2rem];
	}

	.circle-toggle__menu.open span:first-child {
		@apply translate-x-0 translate-y-[1rem] rotate-[225deg] transition ease-in-out duration-[.5s] w-[.3rem] h-[.3rem];
	}

	.circle-toggle__menu.open span:nth-child(2) {
		@apply transition ease-in-out duration-[.5s] w-[.3rem] h-[.3rem];
	}
	.circle-toggle__menu.open span:last-child {
		@apply translate-x-0 translate-y-[-1rem] rotate-[-225deg] transition ease-in-out duration-[.5s] w-[.3rem] h-[.3rem];
	}

	@media (min-width: 1080px) {
		.header .container {
			@apply py-0;
		}

		.mobile-view {
			@apply hidden;
		}

		.desktop-view {
			@apply block;
		}

		/* HEADER TOP */
		.header-top {
			@apply flex justify-between items-center bg-light max-w-[80rem] mx-auto p-[1.5rem];
		}

		.contact {
			@apply flex items-center gap-[2rem];
		}

		.contact-text {
			@apply flex items-center gap-[1rem];
		}

		.contact-text p {
			@apply text-dark flex items-center gap-[1rem] text-[.95rem] px-[1rem];
		}

		.contact-text p:first-child {
			@apply pr-[1.5rem] border-solid border-r border-gray-400;
		}

		.contact-text p i {
			@apply text-primary text-[1.2rem];
		}

		/* HEADER BOT */
		.bot-wrapper {
			@apply bg-asul;
		}

		.header-bot {
			@apply flex justify-between items-center max-w-[80rem] mx-auto;
		}

		.header-bot ul {
			@apply flex gap-[1rem];
		}

		/* HEADER SOCIALS */
		.header-socials ul li a {
			@apply text-[1.1rem] text-light hover:text-primary transition ease-in-out duration-[.5s];
		}

		/* BOT-NAV-CONTENT-1 */
		.header-bot .bot-nav .bot-nav-content-1 {
			@apply bg-hoverBlue border-solid border-t-[3px] border-primary py-[1.5rem] px-[1.3rem];
		}

		.header-bot .bot-nav .bot-nav-content-1 a {
			@apply text-light font-medium text-[1.1rem];
		}

		/* BOT-NAV-CONTENT-2 */
		.header-bot .bot-nav .bot-nav-content-2 {
			@apply relative py-[1.5rem] px-[1.3rem] border-solid border-t-[3px] border-t-transparent hover:bg-hoverBlue hover:border-primary;
		}

		.header-bot .bot-nav .bot-nav-content-2 .drop-text {
			@apply text-light font-medium text-[1.1rem];
		}

		/* BOT-NAV-CONTENT-2 HOVER STATE*/

		.header-bot .bot-nav .bot-nav-content-2:hover .bot-drop-2 {
			@apply overflow-visible transform translate-y-[1.5rem] w-[15rem] p-[1.5rem] opacity-100 transition-[.5s] ease-in;
		}

		.bot-drop-2 {
			@apply absolute bg-light left-0 transform -translate-y-[-8rem] w-[15rem] p-[1rem] opacity-0 transition-[.5s] ease-in z-[3];
		}

		.bot-drop-2 ul li:hover {
			@apply border-solid border-l-[2px] border-primary pl-[1rem] transition-[.5s] ease-in;
		}

		/* BOT-NAV-CONTENT-3 */
		.header-bot .bot-nav .bot-nav-content-3 {
			@apply relative py-[1.5rem] px-[1.3rem] border-solid border-t-[3px] border-t-transparent hover:bg-hoverBlue hover:border-primary;
		}

		.header-bot .bot-nav .bot-nav-content-3 .drop-text {
			@apply text-light font-medium text-[1.1rem];
		}

		.bot-drop-3 ul li:hover {
			@apply border-solid border-l-[2px] border-primary pl-[1rem] transition-[.5s] ease-in;
		}

		/* BOT-NAV-CONTENT-3 HOVER STATE*/

		.header-bot .bot-nav .bot-nav-content-3:hover .bot-drop-3 {
			@apply overflow-visible transform translate-y-[1.5rem] w-[15rem] p-[1.5rem] opacity-100 transition-[.5s] ease-in;
		}

		.bot-drop-3 {
			@apply absolute bg-light  left-0 transform -translate-y-[-8rem] w-[15rem] p-[1rem] opacity-0 transition-[.5s] ease-in z-[3];
		}

		/* BOT-NAV-CONTENT-4 */
		.header-bot .bot-nav .bot-nav-content-4 {
			@apply relative py-[1.5rem] px-[1.3rem] border-solid border-t-[3px] border-t-transparent hover:bg-hoverBlue hover:border-primary;
		}

		.header-bot .bot-nav .bot-nav-content-4 .drop-text {
			@apply text-light font-medium text-[1.1rem];
		}

		/* BOT-NAV-CONTENT-4 HOVER STATE*/

		.header-bot .bot-nav .bot-nav-content-4:hover .bot-drop-4 {
			@apply overflow-visible transform translate-y-[1.5rem] w-[15rem] p-[1.5rem] opacity-100 transition-[.5s] ease-in;
		}

		.bot-drop-4 {
			@apply absolute bg-light left-0 transform -translate-y-[-8rem] w-[15rem] p-[1rem] transition-[.5s] ease-in opacity-0 z-[3];
		}

		.bot-drop-4 ul {
			@apply flex flex-col;
		}

		.bot-drop-4 ul li:hover {
			@apply border-solid border-l-[2px] border-primary pl-[1rem] transition-[.5s] ease-in;
		}

		/* BOT-NAV-CONTENT-5 */
		.header-bot .bot-nav .bot-nav-content-5 {
			@apply relative py-[1.5rem] px-[1.3rem] border-solid border-t-[3px] border-t-transparent hover:bg-hoverBlue hover:border-primary;
		}

		.header-bot .bot-nav .bot-nav-content-5 .drop-text {
			@apply text-light font-medium text-[1.1rem];
		}

		/* BOT-NAV-CONTENT-5 HOVER STATE*/

		.header-bot .bot-nav .bot-nav-content-5:hover .bot-drop-5 {
			@apply overflow-visible transform translate-y-[1.5rem] w-[15rem] p-[1.5rem] opacity-100 transition-[.5s] ease-in;
		}

		.bot-drop-5 {
			@apply absolute bg-light left-0 transform -translate-y-[-8rem] w-[15rem] p-[1rem] opacity-0 transition-[.5s] ease-in z-[3];
		}

		.bot-drop-5 ul {
			@apply flex flex-col;
		}

		.bot-drop-5 ul li:hover {
			@apply border-solid border-l-[2px] border-primary pl-[1rem] transition-[.5s] ease-in;
		}

		/* BOT-NAV-CONTENT-6 */
		.header-bot .bot-nav .bot-nav-content-6 {
			@apply py-[1.5rem] px-[1.3rem] border-solid border-t-[3px] border-t-transparent hover:bg-hoverBlue hover:border-primary;
		}

		.header-bot .bot-nav .bot-nav-content-6 .drop-text {
			@apply text-light font-medium text-[1.1rem];
		}

		/* BOT-NAV-CONTENT-7 */
		.header-bot .bot-nav .bot-nav-content-7 {
			@apply py-[1.5rem] px-[1.3rem] border-solid border-t-[3px] border-t-transparent hover:bg-hoverBlue hover:border-primary;
		}

		.header-bot .bot-nav .bot-nav-content-7 .drop-text {
			@apply text-light font-medium text-[1.1rem];
		}

		/* BOT-NAV-CONTENT-7 HOVER STATE*/

		.header-bot .bot-nav .bot-nav-content-7:hover .bot-drop-7 {
			@apply overflow-visible transform translate-y-[1.5rem] w-[60rem] p-[2.5rem] opacity-100 transition-[.5s] ease-in;
		}

		.bot-drop-7 {
			@apply absolute flex gap-[2rem] bg-light left-[20rem] transform -translate-y-[-8rem] w-[60rem] p-[2.5rem] transition-[.5s] ease-in opacity-0 z-[3];
		}

		.drop-item-7 {
			@apply w-[40rem];
		}

		.drop-item-7:first-child {
			@apply border-solid border-r border-gray-300 pr-[1rem];
		}

		.drop-item-7 h3 {
			@apply text-dark font-light text-[1.5rem] mb-[1rem];
		}

		.drop-item-7 ul {
			@apply grid grid-cols-2;
		}

		.drop-item-7 ul li:hover {
			@apply border-solid border-l-[2px] border-primary pl-[1rem] transition-[.5s] ease-in;
		}
	}

	/* ------------------- SLIDER BANNER 1 ------------------- */
	/* 
	.slider__banner{
		@apply relative;
	} */

	.slider-items-1 {
		@apply relative flex items-center justify-center bg-slide1 min-h-[100vh] bg-cover;
	}

	.slider-items-2 {
		@apply relative flex items-center justify-center bg-slide2 min-h-[100vh] bg-cover;
	}

	.slider-items-3 {
		@apply relative flex items-center justify-center bg-slide3 min-h-[100vh] bg-cover;
	}

	/* SLIDER TEXT */
	.slider-text {
		@apply relative w-full h-[60vh] flex items-center z-[999];
	}

	.slider-text h3 {
		@apply text-light text-[1.1rem] font-medium w-[25rem];
	}
	.slider-text h2 {
		@apply text-light text-[2.5rem] pb-[1.5rem];
	}

	.slider-text h2 span {
		@apply font-bold;
	}

	.slider-btn a {
		@apply inline-block py-[1rem] px-[2rem] text-light border-solid border-[2px] border-light;
	}

	.slider-btn a:hover {
		@apply bg-mint border-mint;
	}

	@media (min-width: 1080px) {
		.slider-items-1 {
			@apply min-h-[70vh];
		}

		.slider-items-2 {
			@apply min-h-[70vh];
		}

		.slider-items-3 {
			@apply min-h-[70vh];
		}
	}

	/* ------------------- HOLIDAY CARDS ------------------- */
	.holiday-cards {
		@apply bg-grey py-[3rem] min-h-[33rem];
	}

	.holiday-cards__wrapper {
		@apply flex flex-col items-center justify-center;
	}

	.card-content-item {
		@apply relative overflow-hidden mb-[1.5rem];
	}

	.card-content-item img:hover {
		@apply scale-[1.11];
	}

	.card-content-item a {
		@apply flex justify-center items-end;
	}

	.card-content-item img {
		@apply transition-[.03s] ease-in w-[20rem];
	}

	.card-content-item h3 {
		@apply absolute text-light text-[1.5rem] font-medium pb-[1.5rem];
	}

	.card-arrow {
		@apply flex items-center justify-center gap-[.5rem] mt-[1.5rem];
	}

	.arrow-content {
		@apply relative flex items-center justify-center pt-[.2rem];
	}

	.arrow-content span {
		@apply bg-dark block w-[1rem] h-[.11rem] transition-[.8s] ease-in rounded-full;
	}

	.arrow-content:hover span {
		@apply w-[1.5rem] transition-[.8s] ease-in;
	}

	.arrow-content i {
		@apply text-[.8rem] pt-[.15rem] absolute right-0;
	}

	@media (min-width: 1080px) {
		.card-content {
			@apply flex flex-row gap-[1.5rem] mt-[-7rem];
		}

		.card-content-item {
			@apply mb-0;
		}

		.card-content-item img {
			@apply w-[25rem];
		}

		.card-arrow a {
			@apply text-[1.2rem];
		}

		.arrow-content i {
			@apply pt-[.085rem];
		}
	}

	/* ------------------- HORIZON SECTION------------------- */

	.horizon {
		@apply pt-[2.5rem] pb-[1rem];
	}

	.horizon__wrapper {
		@apply flex flex-col gap-[3rem];
	}

	.horizon-container__wrapper {
		@apply flex flex-col justify-center items-center mt-[1.5rem];
	}

	.horizon-container h3 {
		@apply text-[2rem] text-center;
	}

	.horizon-tab {
		@apply w-[25rem];
	}

	.horizon-tab ul {
		@apply flex flex-wrap justify-center;
	}

	.horizon-tab ul li {
		@apply py-[.5rem] px-[1rem] border-solid border-t border-b border-gray-400;
	}

	.horizon-tab ul li:last-child {
		@apply mt-[1rem];
	}

	.horizon-tab__link {
		@apply text-gray-400 text-[1.1rem];
	}

	.horizon-tab__link.active {
		@apply border-solid border-t border-b border-primary text-primary;
	}

	.horizon-tab__link.active a {
		@apply pb-[.6rem] border-b-[3px] border-transparent text-primary;
	}

	.horizon-tab__link:hover {
		@apply text-primary;
	}

	.horizon-content {
		@apply relative mt-[1rem];
	}

	.horizon-tab-content {
		@apply hidden transition-[.9s] ease-in delay-[.3s];
	}

	.horizon-tab-content.active {
		@apply block transition-[.9s] ease-in  delay-[.3s];
	}

	.horizon-tab-item p {
		@apply text-[.9rem] text-center;
	}

	.horizon-btn {
		@apply flex justify-center items-center gap-[1rem] mt-[2rem];
	}

	@media (min-width: 1080px) {
		.horizon__wrapper {
			@apply flex flex-row items-center gap-[5rem];
		}

		.horizon-tab ul {
			@apply flex flex-nowrap justify-start;
		}

		.horizon-tab ul li:last-child {
			@apply mt-0;
		}

		.horizon-tab {
			@apply w-full;
		}

		.horizon-container h3 {
			@apply text-[2rem] text-left;
		}

		.horizon-tab-item p {
			@apply text-[.9rem] text-justify w-[26.5rem];
		}

		.horizon-btn {
			@apply flex justify-start items-center gap-[1rem] mt-[2rem];
		}

		.horizon-tab ul li {
			@apply border-t-0 border-b-[3px] border-gray-300;
		}

		.horizon-tab ul li:first-child {
			@apply pl-0;
		}

		.horizon-tab ul li:last-child {
			@apply pr-0;
		}

		.horizon-tab__link.active {
			@apply border-t-0 border-b-[3px] border-gray-300;
		}

		.horizon-tab__link:hover {
			@apply text-primary;
		}

		.horizon-tab__link.active a {
			@apply pb-[.6rem] border-b-[3px] border-primary text-primary;
		}
	}

	/* ------------------- SERVICES SECTION------------------- */

	.services-title h2 {
		@apply text-dark text-[2rem] text-center;
	}

	.services__wrapper {
		@apply mt-[1.5rem];
	}

	.services-item {
		@apply border-solid border-[7px] border-gray-100 mb-[1.5rem];
	}
	.services-item-container {
		@apply p-[1.5rem] flex flex-col gap-[1.5rem];
	}

	.services-item-icon {
		@apply flex justify-center;
	}

	.services-item-icon i {
		@apply text-primary text-[2.5rem];
	}

	.services-item-text {
		@apply text-center;
	}

	.services-item-text a {
		@apply text-[1.5rem] mb-[1rem];
	}

	.services-item-text a:hover {
		@apply text-primary;
	}

	.services-item-text p {
		@apply text-[.95rem] text-gray-400;
	}

	@media (min-width: 1080px) {
		.services__wrapper {
			@apply grid grid-cols-3 gap-[1.5rem];
		}

		.services-item {
			@apply w-[25rem] py-[1.5rem];
		}

		/* .services-item:hover{
			@apply border-[1px] shadow-[0_3px_10px_rgb(0,0,0,0.2)] transition-[.5s];
		} */

		.services-item-container {
			@apply flex flex-row items-start;
		}

		.services-item-text {
			@apply text-left;
		}
	}

	/* ------------------- HOT TOURS SECTION------------------- */

	.hottours-title h2 {
		@apply text-[2rem] font-medium text-center;
	}

	.hottours__wrapper {
		@apply mt-[2rem];
	}

	.hottours-item {
		@apply mb-[2rem];
	}

	.hottours-img {
		@apply relative overflow-hidden;
	}

	.hottours-img a p {
		@apply absolute text-light text-[1.5rem] font-medium bg-primary overflow-hidden top-0 right-0 px-[1rem] py-1  bg-transparent z-20;
	}

	.hottours-img a p:before {
		@apply absolute right-[-2rem] top-0 bg-primary block content-[""] w-[6.5rem] h-[2rem] z-[-1] origin-bottom-left skew-x-[45deg];
	}

	.hottours-img a {
		@apply flex justify-end items-start;
	}

	.hottours-text h3 {
		@apply text-[1.5rem] mt-[1rem];
	}

	.hottours-text p {
		@apply text-[1rem] text-gray-400;
	}

	.hottours-review {
		@apply flex items-center gap-[.8rem] my-[.5rem];
	}

	.hottours-review ul {
		@apply flex items-center gap-[.1rem];
	}

	.hottours-review ul li i {
		@apply text-yellow-400 text-[.8rem];
	}

	.hottours-review h5 {
		@apply text-[.8rem];
	}

	.hottours-btn {
		@apply mt-[1.5rem];
	}

	.dollar {
		@apply hidden;
	}

	@media (min-width: 1080px) {
		.hottours__wrapper {
			@apply flex flex-col justify-center items-center;
		}

		.hottours-item {
			@apply relative flex border-solid border-[1px] border-gray-300 mb-[3rem];
		}

		.hottours-text {
			@apply py-[3rem] pl-[5rem] pr-[2rem];
		}

		.hottours-text p {
			@apply w-[30rem];
		}

		.hottours-img img {
			@apply w-fit h-fit;
		}

		.hottours-img img:hover {
			@apply scale-[.95];
		}

		.hottours-img a p {
			@apply hidden;
		}

		.hottours-img a {
			@apply flex justify-center items-center;
		}

		.dollar {
			@apply absolute flex text-light text-[1.5rem] font-medium bg-primary py-[1rem] px-[1.5rem] right-0 top-0;
		}

		.dollar:before {
			@apply border-b-[20px] bottom-[0] border-light left-[-1.4rem] content-[''] w-[3.3rem] h-[1rem] block absolute rotate-[45deg];
		}
	}

	/* ------------------- ONE MISSION SECTION------------------- */

	.onemission-title h2 {
		@apply text-[2rem] font-medium text-center;
	}

	.onemission__wrapper {
		@apply flex flex-col justify-center items-center gap-[5rem] mt-[6rem];
	}

	.onemission-item {
		@apply relative p-[1.5rem];
	}

	.onemission-img {
		@apply absolute p-[.5rem] bg-light rounded-full top-[-4.5rem] left-[4.5rem];
	}

	.onemission-img img {
		@apply rounded-full translate-y-[0] cursor-pointer transition-[.5s] ease-in border-solid border-[3px] border-transparent;
	}

	.onemission-text {
		@apply bg-grey px-[3rem] pb-[3rem] pt-[4rem] text-center;
	}

	.onemission-text a {
		@apply flex justify-center text-dark text-[1.2rem] font-medium;
	}

	.onemission-text a:hover {
		@apply text-primary;
	}

	.onemission-text p {
		@apply text-primary text-[.9rem] my-[.3rem];
	}

	@media (min-width: 1080px){
		.onemission-title h2 {
			@apply text-[2.5rem];
		}

		.onemission__wrapper {
			@apply flex flex-row justify-center items-center gap-0 mt-[6rem];
		}

		.onemission-img img:hover {
			@apply translate-y-[-.8rem] transition-[.5s] ease-in border-primary;
		}
	}

	/* ------------------- IMPRESSION SECTION------------------- */

	.impression__wrapper{
		@apply bg-fixed bg-parallax bg-no-repeat bg-center bg-cover min-h-[20rem] opacity-90 z-[1];
	}

	.impression__wrapper{
		@apply flex justify-center items-center py-[3rem];
	}

	.impression-text {
		@apply text-center py-[3rem] px-[1.5rem];
	}

	.impression-text h3 {
		@apply text-light text-[2.3rem] font-medium;
	}

	.impression-text h3 span {
		@apply block font-light;
	}

	.impression-text p {
		@apply text-light my-[1.5rem];
	}


	@media (min-width:1080px){

		.impression__wrapper {
			@apply h-[60vh];
		}

		.impression-text h3 {
			@apply text-[4rem] leading-[1];
		}
	
		.impression-text h3 span {
			@apply block font-light;
		}
	
		.impression-text p {
			@apply text-light text-[1.1rem] w-[37rem] mx-auto;
		}
	}


	/* ------------------- PEOPLE SAY SECTION------------------- */

	.peoplesay{
		@apply bg-grey py-[3rem];
	}

	.peoplesay-title h2 {
		@apply text-[2rem] font-medium text-center;
	}

	.peoplesay__wrapper{
		@apply flex flex-col justify-center items-center gap-[5rem] mt-[6rem];
	}

	.peoplesay-item{
		@apply relative pt-[4rem];
	}

	.peoplesay-img{
		@apply absolute p-[.5rem] bg-light rounded-full top-[1rem]  left-[10rem];
	}

	.peoplesay-img img {
		@apply rounded-full translate-y-[0] cursor-pointer transition-[.5s] ease-in border-solid border-[3px] border-transparent;
	}

	.peoplesay-text {
		@apply bg-light px-[1rem] pb-[1.5rem] pt-[4rem] text-center shadow-md;
	}

	.peoplesay-text p {
		@apply  text-dark text-[1rem];
	}

	.peoplesay-text h4 {
		@apply text-primary text-[1.5rem] my-[.3rem] text-center mt-[1rem];
	}

	
	@media (min-width: 1080px){

		.peoplesay-item{
			@apply pt-[4rem];
		}

		.peoplesay-title h2 {
			@apply text-[2.5rem];
		}

		.peoplesay__wrapper{
			@apply flex flex-row justify-center items-center gap-[2rem] mt-[1rem];
		}

		.peoplesay-img{
			@apply absolute p-[.5rem] bg-light rounded-full top-[1rem] left-[8.5rem];
		}
	}


	/* ------------------- DREAM SECTION------------------- */

	.dream{
		@apply py-[2rem];
	}
	
	.dream-title h2{
		@apply text-[2rem] font-medium text-center;
	}

	.dream__wrapper{
		@apply flex flex-col justify-center items-center gap-[2rem] mt-[2rem];
	}

	.dream-item{
		@apply w-[18rem]
	}

	.dream-bgImg{
		@apply p-[1rem] bg-dreamBg bg-contain bg-no-repeat;
	}

	.dream-text{
		@apply bg-light py-[3.5rem] px-[2.5rem] text-center;
	}
	
	.dream-text h3{
		@apply text-[2.5rem] font-bold;
	}

	.dream-text p{
		@apply text-[1.1rem] font-medium;
	}

	@media (min-width: 1080px){
		.dream__wrapper{
			@apply flex flex-row;
		}

		.dream-title h2{
			@apply text-[3rem];
		}
	

		.dream-item{
			@apply w-[25rem];
		}

		.dream-bgImg{
			@apply h-[25rem];
		}

		.dream-text{
			@apply py-[3rem];
		}

		.dream-text h3{
			@apply text-[5rem] font-bold;
		}
	
		.dream-text p{
			@apply  w-[10rem] mx-auto text-[1.5rem] font-medium;
		}
	}

	/* ------------------- DISCOUNT SECTION------------------- */

	.discount__wrapper{
		@apply bg-parallax2 bg-cover bg-center bg-no-repeat min-h-[40vh];
	}

	.discount__wrapper{
		@apply flex justify-center items-center py-[3rem];
	}

	.discount-content{
		@apply max-w-[120rem] p-[1.5rem] mx-auto;
	}

	.discount-text h2{
		@apply text-light text-[2rem] text-center font-bold
	}

	.discount-text p{
		@apply text-light text-center text-[1.1rem] mt-[1rem]
	}

	.discount-form{
		@apply flex flex-col gap-[1rem] mt-[1rem];
	}

	.discount-form form input{
		@apply w-full p-[1rem] opacity-20 placeholder-light outline-none;
	}

	.btn.GreenBlack{
		@apply text-center;
	}

	@media (min-width:1080px){
		.discount-form{
			@apply flex flex-row justify-center items-center gap-[.5rem];
		}

		.discount-form form input{
			@apply w-[20rem] p-[1rem] opacity-20 placeholder-light;
		}

		.discount-text h2{
			@apply text-light text-[3rem] text-center font-bold
		}
	
		.discount-text p{
			@apply w-[35rem] text-[1rem];
		}
	
	}




	
























}
